In [11]:
import pandas as pd
import csv

In [ ]:
import nltk
from nltk import word_tokenize
from nltk import sent_tokenize
nltk.download('all')

In [12]:
# Open the input text file for reading
with open('SMSSpamCollection.txt', 'r') as text_file:
    lines = text_file.readlines()

# Open a CSV file for writing
with open('SMSSpamCollection.csv', 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)

    # Iterate through each line in the text file
    for line in lines:
        # Split the line into words
        words = line.strip().split()

        # Check if there are at least two words in the line
        if len(words) >= 2:
            # Write the first word in the first column and the rest in the second column
            csv_writer.writerow([words[0], ' '.join(words[1:])])
        else:
            # Handle lines with less than two words, e.g., if the line is empty or contains only one word
            # In this example, you can choose to skip or handle these lines as needed
            pass

In [27]:
df = pd.read_csv('SMSSpamCollection.csv')
df

     class                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5569  spam  This is the 2nd time we have tried 2 contact u...
5570   ham               Will ü b going to esplanade fr home?
5571   ham  Pity, * was in mood for that. So...any other s...
5572   ham  The guy did some bitching but I acted like i'd...
5573   ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [43]:
spam_df = df[df['class'] == 'spam']
print("Length of spam data :", len(spam_df))

ham_df = df[df['class'] == 'ham']
print("Length of ham data :", len(ham_df))

Length of spam data : 747
Length of ham data : 4827

In [46]:
rows = ham_df.sample(n=747) 
rows

     class                                               text
2219   ham  Nice talking to you! please dont forget my pix...
3912   ham  How i noe... She's in da car now... Later then...
3779   ham  Once a fishrman woke early in d mrng. It was v...
3740   ham                         Did you stitch his trouser
3787   ham                                     Wat r u doing?
...    ...                                                ...
161    ham  Keep yourself safe for me because I need you a...
2373   ham  Watching tv lor... Y she so funny we bluff her...
1901   ham  And miss vday the parachute and double coins??...
3349   ham                             Sorry, I'll call later
1527   ham  Wow ... I love you sooo much, you know ? I can...

[747 rows x 2 columns]