In [1]:
import pandas as pd
import csv

In [ ]:
import nltk
from nltk import word_tokenize
from nltk import sent_tokenize
nltk.download('all')

In [3]:
# # Converting .txt files to .csv files. It will run only one time.

# with open('SMSSpamCollection.txt', 'r') as text_file:
#     lines = text_file.readlines()

# # Open a CSV file for writing
# with open('SMSSpamCollection.csv', 'w', newline='') as csv_file:
#     csv_writer = csv.writer(csv_file)

#     # Iterate through each line in the text file
#     for line in lines:
#         # Split the line into words
#         words = line.strip().split()

#         # Check if there are at least two words in the line
#         if len(words) >= 2:
#             # Write the first word in the first column and the rest in the second column
#             csv_writer.writerow([words[0], ' '.join(words[1:])])
#         else:
#             # Handle lines with less than two words, e.g., if the line is empty or contains only one word
#             # In this example, you can choose to skip or handle these lines as needed
#             pass

In [34]:
df = pd.read_csv('SMSSpamCollection.csv')

In [35]:
spam_df = df[df['class'] == 'spam']
print("Length of spam data :", len(spam_df))

ham_df = df[df['class'] == 'ham']
print("Length of ham data :", len(ham_df))

new_ham_df = ham_df.sample(n=747)
print("Length of New ham data :", len(new_ham_df))

#Made both ham and spam in equal numbers.

Length of spam data : 747
Length of ham data : 4827
Length of ham data : 747

In [48]:
# Merge the two DataFrames vertically (concatenate rows).
merged_df = pd.concat([spam_df, new_ham_df], ignore_index=True)
shuffled_df = merged_df.sample(frac=1.0, random_state=10, ignore_index=True)
shuffled_df

     class                                               text
0      ham                  Gudnite....tc...practice going on
1      ham       Ranjith cal drpd Deeraj and deepak 5min hold
2     spam  Phony £350 award - Todays Voda numbers ending ...
3     spam  Text & meet someone sexy today. U can find a d...
4      ham         I'm not sure if its still available though
...    ...                                                ...
1489   ham  Infact happy new year. How are you where are y...
1490   ham  That way transport is less problematic than on...
1491  spam  Free video camera phones with Half Price line ...
1492   ham                       Did u got that persons story
1493   ham  Omw back to tampa from west palm, you hear wha...

[1494 rows x 2 columns]

In [53]:
Training_data = shuffled_df[0:1135]   # It is 76% data of 1494. (Total 1135 rows)
Testing_data = shuffled_df[1135: 1494]   # It is 24% data of 1494. (Total 359 rows)